body{
    width: auto;
    margin-right: 0%;
    margin-left: 0%;
}
header{
    display: block;
    margin-top: 3%;
    margin-left: 0%;
    width: auto;
    text-align: center;
    
}  


#logo{
    margin: 0 auto;
}

nav{
    display: flex;
    padding-top: 5%;
    width: auto;
}

.hebergement{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 12%;
    padding-left: 10%;
    border-bottom:solid 3px #F2F2F2;
    padding-bottom: 2%;
    width: 50%;
}

.activites{
    margin-right: 0%;
    margin-left: 0%;
    padding-left: 10%;
    margin-bottom: 0%;
    border-bottom:solid 3px #F2F2F2;
    padding-right: 18%;
    padding-bottom: 2%;
    width: 50%;
}

header a:hover{
    border-top: none;
    padding-top: 0%;
    border-bottom:solid 3px #0065FC;
    
}

.section1{
    margin-left: 4%;
    margin-top: 20%;
    margin-left: 5%;
    width: auto;
}

.titre br{
    display: block;
}

.titre{
    margin-bottom: 14%;
}

#paragraphe1{
    margin-bottom: 10%;
}

.fa-search{           
    opacity: 1;
    margin-right: 29%;
    font-size: 18px;
}

.rechercher{
    display: none;
    
}

.fa-location-dot{
    
    position: relative;
    left: 6%;
    padding-right: 6%;   
}

button{
    width:16%;
    border-radius: 15px;
    margin-left: -5px;
}

form{
    width: 290px;
}

.input1{
    border-right: 0px;
    width: 203px;
}

.lesfiltres{
    margin-top: 0%;
    flex-wrap: wrap;
    width: auto;
}

.parametre p{
    font-size: 16px;
}

.parametre{
    margin-right: 2%;
    margin-bottom: 1%;
}

.filtre{
    margin-right: 80%;
}

.parametre:nth-child(4){
    margin-right: 60%;
}

.info br{
    display: block;
}


.section2:nth-child(1){
    order:2;
}

aside{
    margin-left: 0%;
    padding-left: 6%;
    border-radius: 0%;
    padding-right: 4%;
    margin-right: 0%;
    width: auto;
    padding-bottom: 6%;
}

.heberg{    
    flex-direction: column;
    width: auto;
    margin-bottom: 0%;
}

.card2{
    margin-right: 3%;
    margin-bottom: 3%;
}


.section2{
    background-color: white;
    margin-left: 0%;
    width: auto;
}

.choix{
    flex-direction: column;
    width: auto;
}

.card{
    width: 96%;
    box-shadow: 2px 2px 2px #F2F2F2; 
    border: 0.5px solid #F2F2F2;
    margin-bottom: 4%;

}

.carte{
    width:97%;
}

.section2 h2{
    margin-top: 20px;
}

.section2 h4{
   margin-top: 4%; 
   font-size: 19px;
   margin-left: 3%;

}

img{
    width: 96%;
}

.section4{
    margin-top: 0%;
    margin-left: 0%;
    width: auto;
    margin-bottom: 0%;
    padding-left: 5%;
}

.section4 h2{
    margin-bottom: 4%;
}

.section5{
    flex-direction: column;
    width: auto;
    margin-top: 8%;
}

.section6{
    flex-direction: column;
    margin-left: 0%;
    width: auto;
}

.section7{
    flex-direction: column;
    margin-left: 0%;
    width: auto;
}

.card3{
    width: 98%;
    margin-bottom: 6%;
    box-shadow: 2px 2px 2px #F2F2F2; 
    border: 0.5px solid #F2F2F2;
    height: 210px;
}

.port{
    width: 100%;
    height: 130px;
    margin-left: 0%;
    margin-top: 0%;
}

.activites1{
    width: 100%;
    height: 130px;
    margin-left: 0%;
    margin-top: 0%;
}

.card4{
    width: 100%;
    height: 210px;
    margin-bottom: 6%;
    box-shadow: 2px 2px 2px #F2F2F2; 
    border: 0.5px solid #F2F2F2;
}



.card5{
    width: 100%;
    height: 210px;
    margin-bottom: 6%;
    box-shadow: 2px 2px 2px #F2F2F2; 
    border: 0.5px solid #F2F2F2;
    
}

.activites2{
    width: 100%;
    height: 130px;
    margin-left: 0%;
    margin-top: 0%;
}

.card6{
    width: 98%;
    height: 210px;
    margin-bottom: 6%;
    box-shadow: 2px 2px 2px #F2F2F2; 
    border: 0.5px solid #F2F2F2;
    
    
}

.activites3{
    width: 100%;
    height: 130px;
    margin-left: 0%;
    margin-top: 0%;
    
}

.activites4{
    width: 100%;
    height: 130px;
    margin-left: 0%;
    margin-top: 0%;
}


.card7{      
    width: 98%;
    height: 210px;
    margin-bottom: 6%;
    box-shadow: 2px 2px 2px #F2F2F2; 
    border: 0.5px solid #F2F2F2;
    margin-left: 0%;
}

.activites5{
    width: 100%;
    height: 130px;
    margin-left: 0%;
    margin-top: 0%;
}


.card8{            
    width: 98%;
    height: 210px;
    margin-bottom: 4%;
    box-shadow: 2px 2px 2px #F2F2F2; 
    border: 0.5px solid #F2F2F2;
    margin-left: 0%;
}

footer{
    flex-direction: column;
    width: auto;
    height: 40%;
    margin-bottom: 0%;
    padding-bottom: 40px;
    min-width: 0;
    margin-top: 11%;
}

ul{
    padding-left: 0%;
    font-size: 16px;
}

.div{
    margin-left: 8%;
    margin-right: 0%;
    margin-top: 8%;
}

.pied{
    font-size: 18px;
}

